In [1]:
import pandas as pd
from whole_model import FlightBookingSystem

In [2]:
data = {
    'Departure': ['New York', 'London', 'Paris', 'London'],
    'Destination': ['London', 'Paris', 'Tokyo', 'Paris'],
    'Date': ['13-11-2023', '21-11-2023', '12-12-2023', '10-10-2023'],
    'Available seats': [5, 3, 6, 7],
    'Passengers': ['', '', '', '']
}

df = pd.DataFrame(data)
df

  Departure Destination        Date  Available seats Passengers
0  New York      London  13-11-2023                5
1    London       Paris  21-11-2023                3
2     Paris       Tokyo  12-12-2023                6
3    London       Paris  10-10-2023                7

In [3]:
booking_system = FlightBookingSystem(df)

2023-12-01 07:25:35,202 SequenceTagger predicts: Dictionary with 76 tags: <unk>, O, B-CARDINAL, E-CARDINAL, S-PERSON, S-CARDINAL, S-PRODUCT, B-PRODUCT, I-PRODUCT, E-PRODUCT, B-WORK_OF_ART, I-WORK_OF_ART, E-WORK_OF_ART, B-PERSON, E-PERSON, S-GPE, B-DATE, I-DATE, E-DATE, S-ORDINAL, S-LANGUAGE, I-PERSON, S-EVENT, S-DATE, B-QUANTITY, E-QUANTITY, S-TIME, B-TIME, I-TIME, E-TIME, B-GPE, E-GPE, S-ORG, I-GPE, S-NORP, B-FAC, I-FAC, E-FAC, B-NORP, E-NORP, S-PERCENT, B-ORG, E-ORG, B-LANGUAGE, E-LANGUAGE, I-CARDINAL, I-ORG, S-WORK_OF_ART, I-QUANTITY, B-MONEY

In [4]:
booking_system.run()

Model: Hello! I'm here to help you with flight booking.

User:  Thank you!

Model: Happy to help!

User:  I need a flight from new york to london

Model: We have this flight available for these dates: ['13-11-2023']
Model: Please provide the date of the flight:

User:  13 november

Model: Please provide your full name:

User:  John Doe

Model: Let's check the data one last time to be sure.
Model: Your name is John Doe, the city of departure is New York, the destination is London, and the date is 13-11-2023, right? Answer only 'Yes' or 'No'.

User:  yes

Model: The requested flight is successfully booked! Thank you for using our service!

In [5]:
df

  Departure Destination        Date  Available seats  Passengers
0  New York      London  13-11-2023                4  John Doe,
1    London       Paris  21-11-2023                3
2     Paris       Tokyo  12-12-2023                6
3    London       Paris  10-10-2023                7

In [6]:
booking_system.run()

Model: Hello! I'm here to help you with flight booking.

User:  Hello, I'm Grace Anderson, I want to fly from London to Paris on 21 november 2023.

Model: Let's check the data one last time to be sure.
Model: Your name is Grace Anderson, the city of departure is London, the destination is Paris, and the date is 21-11-2023, right? Answer only 'Yes' or 'No'.

User:  yes

Model: The requested flight is successfully booked! Thank you for using our service!

In [7]:
df

  Departure Destination        Date  Available seats        Passengers
0  New York      London  13-11-2023                4        John Doe,
1    London       Paris  21-11-2023                2  Grace Anderson,
2     Paris       Tokyo  12-12-2023                6
3    London       Paris  10-10-2023                7

In [9]:
booking_system.run()

Model: Hello! I'm here to help you with flight booking.

User:  flight from london to paris

Model: We have this flight available for these dates: ['21-11-2023', '10-10-2023']
Model: Please provide the date of the flight:

User:  12 december

Model: Sorry, the requested flight is not available.

User:  bye

Model: Goodbye!